<div>Custom control based on Teachable Machine</div>
<input type="text" id="tm_model_key" value="wef1yJup2">
<button type="button" onclick="init()">Load Model</button>
<div><canvas id="canvas"></canvas></div>
<div id="label-container"></div>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
<script type="text/javascript">
    // More API functions here:
    // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/pose

    let model, webcam, ctx, labelContainer, maxPredictions;

    async function init() {

        // the link to your model provided by Teachable Machine export panel
        tm_model_key = document.getElementById("tm_model_key").value
        URL = 'https://teachablemachine.withgoogle.com/models/' + tm_model_key + '/'
        modelURL = URL + "model.json";
        metadataURL = URL + "metadata.json";

        // load the model and metadata
        // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
        // Note: the pose library adds a tmPose object to your window (window.tmPose)
        model = await tmPose.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        // Convenience function to setup a webcam
        const size = 200;
        const flip = true; // whether to flip the webcam
        webcam = new tmPose.Webcam(size, size, flip); // width, height, flip
        await webcam.setup(); // request access to the webcam
        await webcam.play();
        window.requestAnimationFrame(loop);

        // append/get elements to the DOM
        const canvas = document.getElementById("canvas");
        canvas.width = size; canvas.height = size;
        ctx = canvas.getContext("2d");
        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) { // and class labels
            labelContainer.appendChild(document.createElement("div"));
        }
    }

    async function loop(timestamp) {
        webcam.update(); // update the webcam frame
        await predict();
        window.requestAnimationFrame(loop);
    }

    var prev_action_time = new Date().getTime();
    var cur_action_time = new Date().getTime();

    async function predict() {
        // Prediction #1: run input through posenet
        // estimatePose can take in an image, video or canvas html element
        const { pose, posenetOutput } = await model.estimatePose(webcam.canvas);
        // Prediction 2: run input through teachable machine classification model
        const prediction = await model.predict(posenetOutput);

        action_index = -1
        action_prop = -1

        for (let i = 0; i < maxPredictions; i++) {
            const classPrediction =
                prediction[i].className + ": " + prediction[i].probability.toFixed(2);

            if (prediction[i].probability > action_prop)
            {
                action_prop = prediction[i].probability
                action_index = i
            }

            labelContainer.childNodes[i].innerHTML = classPrediction;
        }

        cur_action_time = new Date().getTime();

        var diff_time = cur_action_time - prev_action_time;

        if (diff_time > 200)
        {
            prev_action_time = cur_action_time;
            sendAction(action_index);
        }

        // finally draw the poses
        drawPose(pose);
    }

    async function sendAction(action_index) {
        let response = await fetch('http://127.0.0.1:5001/action?index=' + action_index);
        return null
    }

    function drawPose(pose) {
        if (webcam.canvas) {
            ctx.drawImage(webcam.canvas, 0, 0);
            // draw the keypoints and skeleton
            if (pose) {
                const minPartConfidence = 0.5;
                tmPose.drawKeypoints(pose.keypoints, minPartConfidence, ctx);
                tmPose.drawSkeleton(pose.keypoints, minPartConfidence, ctx);
            }
        }
    }
</script>